<div class="blog-container">
    <section class="second-block">
        <h2 class="text-center">Recomendados para você</h2>
        <div class="recommendations">
            <div class="recommendation-item card-1">
                <div class="recommendation-label">
                    <h5>Gestão MEI</h5>
                    <p>Virei MEI, e agora?</p>
                </div>
            </div>
            <div class="recommendation-item card-2">
                <div class="recommendation-label">
                    <h5>Vender mais</h5>
                    <p>Como vender pelo Instagram</p>
                </div>
            </div>
            <div class="recommendation-item card-3">
                <div class="recommendation-label">
                    <h5>Controle financeiro</h5>
                    <p>Saiba como precificar o seu produto</p>
                </div>
            </div>
        </div>
    </section>
</div>