<div class="services-wrapper">
	<section class="first-content-hero">
		<p class="content-header text-uppercase">
			Serviços MEI
		</p> 
		<h1 class="content-lead">
			Descomplique sua vida. 
		</h1>
		<h2 class="content-description black-text d-none d-md-block">
			Como podemos ajudar no seu negócio hoje?
		</h2>
		<h3 class="content-description d-md-none">
			Como podemos ajudar no seu negócio hoje?
		</h3>

		<div class="d-md-none text-right">
			<img class="content-img" src="assets/img/img-servicos-mei-small@2x.png">
		</div>

		<div class="cards-wrapper d-none d-md-block">
			<button class="content-card" (click)="checkCNPJ('das')">
				<span class="icon icon-nf d-block"></span>
                Nota Fiscal
			</button>
			<button class="content-card" (click)="checkCNPJ('das')">
				<span class="icon icon-boleto d-block"></span>
                Emitir Boletos
			</button>
			<a class="content-card" href="/services">
				<span class="icon icon-conta d-block"></span>
                Abra sua conta PJ
			</a>
			<a class="content-card" href="/services">
				<span class="icon icon-credito d-block"></span>
                Soluções de crédito
			</a>
		</div>
    </section>
</div>