@import 'abstracts/variables';

:root {
  --input-padding-x: 12px;
  --input-padding-y: 12px;
}

.mei-form
 {
  .animated-label {
    input::-webkit-input-placeholder {
      color: transparent;
    }

    input:-ms-input-placeholder {
      color: transparent;
    }

    input::-ms-input-placeholder {
      color: transparent;
    }

    input::-moz-placeholder {
      color: transparent;
    }

    input::placeholder {
      color: transparent;
    }

    .form-label,
    .form-control {
      padding: 8px 8px 0 0;
      text-align: left;

      @include media-breakpoint-up(sm) {
        padding: 0;
      }
    }

    .form-label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      line-height: 1.5;
      font-size: 1rem;
      color: $dark-grey;
      border: 1px solid transparent;
      transition: all 0.1s ease-in-out;
      pointer-events: none;

      &:hover,
      &:focus,
      &:active {
        color: $primary-black;
      }

      @include media-breakpoint-up(sm) {
        font-size: 1.25rem;
      }
    }

    .form-control {
      margin-bottom: 8px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid $light-grey;
      
      @include media-breakpoint-up(sm) {
        margin-right: 36px;
        margin-bottom: 16px;
      }

      &:focus,
      &:active,
      &:hover {
        border-bottom: 1px solid $dark-grey;
      }

      &:not(:placeholder-shown),
      &:-webkit-autofill {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
      }

      &:not(:placeholder-shown) ~ label,
      &:-webkit-autofill ~ label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 0.75rem;
        color: $primary-black;
        top: -16px;

        &:focus,
        &:active {
          outline: none;
          box-shadow: 0;
        }
      }
    }

    ::-webkit-input-placeholder, /* Chrome/Opera/Safari */
    ::-moz-placeholder, /* Firefox 19+ */
    :-ms-input-placeholder, /* IE 10+ */
    :-moz-placeholder, /* Firefox 18- */
    input::-moz-placeholder,
    input:-moz-placeholder {
      color: $dark-grey;
      opacity: 1; /* Firefox */
    }
  }

  .form-label-group {
    position: relative;
    max-width: 523px;

    .form-label {
      margin-bottom: 0;
      pointer-events: none;
    }

    .form-control {
      margin-bottom: 8px;
      border: 0;
      border-bottom: 1px solid $light-grey;
      border-radius: 0;
      padding: 0;
      color: $primary-black;
      outline: 0;

      @include media-breakpoint-up(sm) {
        margin-right: 36px;
        margin-bottom: 16px;
      }

      &:focus,
      &:active,
      &:hover {
        border-bottom: 1px solid $dark-grey;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .form-small {
    margin-bottom: 8px;
    text-align: left;

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
  }
}