@import 'fonts';

// Colors
$primary-red: #CC0000;
$dark-red: #990000;
$primary-black:  #222222;
$dark-grey: #767676;
$background-grey: #E0DBDB;
$background-light-grey: #FBFBFB;
$services-grey: #ECF0F4;
$light-grey: #C0C1C0;
$light-blue-grey: #F5F9FB;
$lighter-grey: #CCCCCC;
$primary-green: #739E41;
$primary-yellow: #F2A51A;

// Fonts
$font-family-base: 'SantanderText', sans-serif;
$headings-font-family: 'SantanderHeadline', sans-serif;
