<div class="home-wrapper">
	<section class="second-content-hero row m-0">
		<div class="col-8 col-md-6 p-0">
			<p class="content-header text-uppercase">
				{{layout4.titulo}}
			</p> 
			<h1 class="content-lead">
				{{layout4.subtitulo}}
			</h1>
			<p class="content-description">
				{{layout4.descricao}}
			</p>
			<a class="btn btn-primary btn-order" [href]="layout4.botaoLink" target="_blank">
				{{layout4.botaoTexto}}
			</a>
		</div>
		<div class="col-4 col-md-6 p-0 text-right">
			<img class="superget-img d-md-none" [src]="layout4.ilustracao">
			<img class="superget-img d-none d-md-block" [src]="layout4.ilustracao">
		</div>
  </section>
</div>