<div class="services-wrapper">
    <section class="fourth-content-hero">
        <h2 class="content-header black-text d-none d-md-block">
            Cuidados para você e sua família
        </h2>
        <h3 class="content-header d-md-none">
            Cuidados para você e sua família
        </h3>

        <div class="img-wrapper">
            <p class="text-uppercase d-md-none">
                Plano <br />
                Odontológico
            </p>

            <p class="text-uppercase d-none d-md-block m-0">
                Plano Odontológico
            </p>

            <div class="content-wrapper d-none d-md-block">
                <h1 class="content-lead">
                    Nosso plano é fazer você sorrir
                </h1>

                <h3 class="content-description">
                    Garantir sorrisos é a nossa mais nova missão.
                </h3>

                <a class="btn btn-primary" href="https://www.odontosantander.com.br/odontosantander/" target="_blank">
                    Saiba como
                </a>
            </div>
        </div>

        <div class="content-wrapper d-md-none">
            <h1 class="content-lead">
                Nosso plano é fazer você sorrir
            </h1>

            <p class="content-description black-text">
                Garantir sorrisos é a nossa mais nova missão.
            </p>

            <a class="btn btn-primary" href="https://www.odontosantander.com.br/odontosantander/" target="_blank">
                Saiba como
            </a>
        </div>
    </section>
</div>